// Cores primárias
$primary-color: #222222;
$secondary-color: #8A2BE2;
$tertiary-color: #2C2C2C;

// Cores neutras
$white: #ffffff;
$black: #000000;
$gray-light: #D9D9D9;
$gray-dark: #B0B0B0;    

$transition: .2s ease-in-out;